<footer class="page__footer page__footer-follow">
    <ul class="social-icons">
        <li>À propos</li>
        <span>|</span>
        <li>Accessibilité : ????????</li>
        <span>|</span>
        <li><a href="https://edrlab.org/">EDRLab 2022</a></li>
        <span>|</span>
        <li id="GH">
            <a
                href="https://github.com/edition-accessible/ressources"
                rel="nofollow noopener noreferrer"
            >
                <i class="fab fa-fw fa-github" aria-hidden="true"></i>
                <span>GitHub</span>
            </a>
        </li>
        <span>|</span>
        <li id="RSS">
            <a href="feed.xml"
                ><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i
                ><span>S'abonner au fil RSS</span></a
            >
        </li>
    </ul>
</footer>
