<footer class="page__footer page__footer-follow">
    <ul class="social-icons">
        <li><a href="/pages/apropos">À propos</a></li>
        <!--TODO-->
        <span aria-hidden="true">|</span>
        <li><a href="pages/accessibilite">Accessibilité : ????????</a></li>
        <!--TODO Ce doit aussi être un lien vers une page accessibilité qui donne les infos de test-->
        <span aria-hidden="true">|</span>
        <li><a href="https://edrlab.org/">EDRLab 2022</a></li>
        <span aria-hidden="true">|</span>
        <!-- <li id="GH">
            <a
                href="https://github.com/edition-accessible/lina25"
                rel="nofollow noopener noreferrer"
            >
                <i class="fab fa-fw fa-github" aria-hidden="true"></i>
                <span>Sources</span>
            </a>
        </li> -->
        <span aria-hidden="true">|</span>
        <li id="RSS">
            <a href="/feed.xml"
                ><i class="fa-map-signs" aria-hidden="true"></i
                ><span>Carte du site</span></a
            ><!--TODO-->
        </li>
    </ul>
</footer>
