<footer class="page__footer page__footer-follow" role="contentinfo">
    <ul class="social-icons">
        <li><a href="/pages/apropos">À propos</a></li>
        <span aria-hidden="true">|</span>
        <!--TODO ajouter logo edrlab-->
        <li><a href="https://edrlab.org/">EDRLab</a></li>
        <span aria-hidden="true">|</span>
        <li>
            <a href="/pages/accessibilite">
                <i class="fa fa-universal-access" aria-hidden="true"></i>
                Accessibilité</a
            >
        </li>
        <span aria-hidden="true">|</span>
        <!-- <li id="GH">
            <a
                href="https://github.com/edition-accessible/lina25"
                rel="nofollow noopener noreferrer"
            >
                <i class="fab fa-fw fa-github" aria-hidden="true"></i>
                <span>Sources</span>
            </a>
        </li> -->
        <!-- <span aria-hidden="true">|</span> -->
        <li id="RSS">
            <a href="/cartesite.html"
                ><i class="fa fa-map-signs" aria-hidden="true"></i> Carte du
                site</a
            ><!--TODO-->
        </li>
        <span aria-hidden="true">|</span>
        <li><a href="https://ec.europa.eu/eusurvey/runner/fd17005b-558f-0050-4e7f-a3294314708a">Votre avis</a></li>
    </ul>
</footer>

  
