<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <script
        src="https://kit.fontawesome.com/a9faad54a1.js"
        crossorigin="anonymous"
    ></script>
    <link
        href="feed.xml"
        type="application/atom+xml"
        rel="alternate"
        title="Livre numérique 2025 Feed"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@200;400;700&display=swap"
        rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/sass/main.css" />
    <base target="_blank" />
</head>
