<head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <script
        src="https://kit.fontawesome.com/a9faad54a1.js"
        crossorigin="anonymous"
    ></script>
    <link
        href="feed.xml"
        type="application/atom+xml"
        rel="alternate"
        title="Lina 25 Feed"
    />
    <!--TODO : j'ai pas l'impression que le fil rss est généré.-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@200;400;700&display=swap"
        rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="stylesheet"
        href='{{ "/assets/sass/main.css" | relative_url }}'
    />
    <link
    rel="stylesheet"
    href='{{ "/assets/sass/print.css" | relative_url }}'
/>
<link
rel="stylesheet"
href='{{ "/assets/sass/tableaux.css" | relative_url }}'
/>
    <base target="_blank" />
</head>
