<nav id="site-nav" class="greedy-nav">
  <a class="site-title" href="/">
    Livre numérique 2025
    <span class="site-subtitle">moderne, solide et accessible</span>
  </a>
  <ul class="visible-links">
    <li class="headmaster__menu-item">
      <a href="../pages/pourquoi">Pourquoi</a>
    </li>
    <li class="headmaster__menu-item">
      <a href="/index.html#references">Références</a>
    </li>
    <li class="headmaster__menu-item">
      <a href="/index.html#savoirs">Savoirs</a>
    </li>
  </ul>
</nav>