<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {%- include head.html -%}

  <body>
    <nav class="skip-links">
      <ul>
        <li><a href="#main" class="screen-reader-shortcut">Contenu</a></li>
      </ul>
    </nav>

    {%- include nav.html -%}
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>