<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

{%- include head.html -%}

<body>

  {%- include nav.html -%}
  <img src="{{ site.baseurl }}/assets/images/Banners/SVG/{{ page.title }}.svg" alt="" class="bannerImage">
  <a href="{{ page.previous }}" target="_self" title="page précédente : {{ page.titlePrev }}" id="arrow_left"><i class="fa-solid fa-angle-left arrow" ></i></a>
  <a href="{{ page.next }}" target="_self" title="page suivante : {{ page.titleNext }}" id="arrow_right"><i class="fa-solid fa-chevron-right arrow"></i></a>

  <header id="contenu" class="header_pages" role="banner">
    
    <div class="title_pages">
      <h1>{{ page.title }}<br/><span>{{ page.subtitle }}</span></h1>
    </div>
    
  </header>

  <section class="audience">
    <p><strong>Problématique : </strong>{{ page.orientation }}</p>
    <p><strong>Métiers concernés : </strong>{{ page.audience }}</p>
  </section>

  <main class="page" id="main" role="main">
    <section>
      {{ content }}
    </section>
  </main>

  {%- include footer.html -%}

  <script>

    let i = 0;
    let principes = document.getElementById("principes");
    let content = document.querySelector(".page");


    function justify() {
      buttonJustified.style.display = 'none'
      buttonLeft.style.display = 'block';
      principes.classList.add("hyphens");
      content.classList.remove("alignLeft");
    };

    function left() {
      principes.classList.remove("hyphens");
      content.classList.add("alignLeft");
      buttonLeft.style.display = 'none';
      buttonJustified.style.display = 'block';
    };

    let buttonJustified = document.getElementById("iconJustify");
    let buttonLeft = document.getElementById("iconAlignLeft");

    buttonJustified.addEventListener('click', function() {
      justify();
    });

    buttonLeft.addEventListener('click', function() {
      left();
    });

    contentButton.addEventListener('focus', function() {
      contentButton.addEventListener('keydown', function(event) {
        if (event.key == 'ArrowLeft') {
          left();
        } else if (event.key == "ArrowRight") {
          justify();
        }
        })
      });

    justify();


  </script>

</body>

</html>