<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">
    {%- include head.html -%}

    <body>
        {%- include nav.html -%}
        <img
            src="{{ site.baseurl }}/assets/images/Banners/SVG/{{ page.title }}.svg"
            alt=""
            class="bannerImage"
        />
        <a
            href="{{ page.previous }}"
            target="_self"
            title="page précédente : {{ page.titlePrev }}"
            id="arrow_left"
            ><i class="fa-solid fa-angle-left arrow"></i
        ></a>
        <a
            href="{{ page.next }}"
            target="_self"
            title="page suivante : {{ page.titleNext }}"
            id="arrow_right"
            ><i class="fa-solid fa-chevron-right arrow"></i
        ></a>

        <header id="contenu" class="header_pages" role="banner">
            <div class="title_pages">
                <h1>{{ page.title }}<br /><span>{{ page.subtitle }}</span></h1>
            </div>
        </header>

        <section class="audience">
            <p><strong>Problématique : </strong>{{ page.orientation }}</p>
            <p><strong>Métiers concernés : </strong>{{ page.audience }}</p>
        </section>

        <main class="page" id="main" role="main">
            <div role="switch" aria-checked="true" tabindex="0">
                <span class="label"> Justification du texte</span>
                <span class="switch">
                    <span></span>
                </span>
                <span class="on" aria-hidden="true"> On </span>
                <span class="off" aria-hidden="true"> Off </span>
            </div>
            <section>{{ content }}</section>
        </main>

        {%- include footer.html -%}

        <script>
            let i = 0;
            let principes = document.getElementById("principes");
            let content = document.querySelector(".page");

            function justify() {
                principes.classList.add("hyphens");
                principes.classList.remove("alignLeft");
            }

            function left() {
                principes.classList.remove("hyphens");
                principes.classList.add("alignLeft");
            }
            justify();

            /*
             *   This content is licensed according to the W3C Software License at
             *   https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document
             *
             *   File:  switch.js
             *
             *   Desc:  Switch widget that implements ARIA Authoring Practices
             */

            ("use strict");

            class Switch {
                constructor(domNode) {
                    this.switchNode = domNode;
                    this.switchNode.addEventListener("click", () =>
                        this.toggleStatus()
                    );
                    this.switchNode.addEventListener("keydown", (event) =>
                        this.handleKeydown(event)
                    );
                }

                handleKeydown(event) {
                    // Only do something when space or return is pressed
                    if (event.key === "Enter" || event.key === " ") {
                        event.preventDefault();
                        this.toggleStatus();
                    }
                }

                // Switch state of a switch
                toggleStatus() {
                    const currentState =
                        this.switchNode.getAttribute("aria-checked") === "true";
                    const newState = String(!currentState);
                    this.switchNode.setAttribute("aria-checked", newState);
                    if (currentState) {
                        left();
                    } else {
                        justify();
                    }
                }
            }

            // Initialize switches
            window.addEventListener("load", function () {
                // Initialize the Switch component on all matching DOM nodes
                Array.from(document.querySelectorAll("[role^=switch]")).forEach(
                    (element) => new Switch(element)
                );
            });

            const addTargetLinks = () => {
                const links = document.querySelectorAll(
                    "section a.link.color_orange"
                );
                for (let i = 0; i < links.length; i++) {
                    links[i].setAttribute("target", "_blank");
                    links[i].setAttribute("rel", "external");
                }
            };

            addTargetLinks();
        </script>
    </body>
</html>
