<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

{%- include head.html -%}

<link rel="stylesheet" href='{{ "/assets/sass/prototypes/EA21_signalement.css" | relative_url }}'/>
<link rel="stylesheet" href='{{ "/assets/sass/prototypes/GC22_TABS.css" | relative_url }}'/>
<body>

  {%- include nav.html -%}
  <img src="{{ site.baseurl }}/assets/images/Banners/SVG/documents.svg" alt="">

  <header id="contenu" class="header_documents" role="banner">
    <a href="{{ page.previous }}" target="_self" title="page précédente : {{ page.titlePrev }}" id="arrow_left"><i class="fa-solid fa-angle-left arrow"></i></a>
    <div class="title_pages">
      <h1><span class="title">{{ page.title }}</span>
        <span>{{ page.subtitle }}</span></h1>
        <p><i>Mis à jour le 
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}janvier
            {% when '2' %}février
            {% when '3' %}mars
            {% when '4' %}avril
            {% when '5' %}mai
            {% when '6' %}juin 
            {% when '7' %}juillet
            {% when '8' %}août
            {% when '9' %}septembre
            {% when '10' %}octobre
            {% when '11' %}novembre
            {% when '12' %}décembre
          {% endcase %}
          {{ page.date | date: "%Y" }}
        </i></p>
    </div>
    
  </header>

  <main class="document" aria-label="Content" id="main" role="main">
    <section>
      {{ content }}
    </section>
  </main>

  {%- include footer.html -%}

</body>

</html>