

.intro {
    width: 100%;
    position: relative;
    @include breakpoint-tablet {
    }
    .intro-wrapper {
        position: absolute;
        top: 5%;
        padding: 0% 0% 5% 10%;
        width: 50%;
        margin-right: 10%;
        @include breakpoint-tablet {
            order: 1;
            position: inherit;
            padding: 5% 5%;
            width: 90%;
            background-color: $color_bg-main;
        }
        .quote {
            margin-top: 10px;
            margin-bottom: 100px;
            @include breakpoint-tablet {
                margin-bottom: 50px;
            }
            @include breakpoint-mobile {
                margin-bottom: 20px;
            }
            figcaption {
                font-weight: 300;
                font-style: italic;
                line-height: 2em;
                font-size: 14px;
            }
            blockquote {
                margin: 0;
                grid-column: 2;
                line-height: 2em;
            }
            #apostrophe_fin {
                transform: rotate(180deg);
                width: 20px;
                margin-right: 2%;
                margin-bottom: 1%;
                grid-column: 3;
                @include breakpoint-mobile {
                    width: 15px;
                }
            }
            #apostrophe_debut {
                grid-column: 1;
                width: 20px;
                margin: 0;
                @include breakpoint-mobile {
                    width: 15px;
                }
            }
        }

        h1 {
            margin: 0%;
            font-size: 35px;
            color: black;
            @include breakpoint-laptop_small {
                width: 100%;
                font-size: 24px;
            }
            @include breakpoint-mobile_small {
                width: 100%;
            }
            @include breakpoint-XXL {
                font-size: 50px;
            }
        }
        span {
            font-weight: 400;
            margin: 0%;
            font-size: 30px;
            color: black;
            @include breakpoint-laptop_small {
                width: 100%;
                font-size: 18px;
            }
            @include breakpoint-laptop {
                font-size: 16px;
            }
            @include breakpoint-mobile {
                padding-bottom: 5%;
            }
            @include breakpoint-XXL {
                font-size: 40px;
            }
        }
    }
    h2,
    p {
        padding-bottom: 3%;
    }
    .page__lead {
        list-style: none;
        font-weight: 200;
        font-style: italic;
        width: 75%;
        font-size: 20px;
        @include breakpoint-laptop {
            font-size: 16px;
            width: 80%;
        }
        @include breakpoint-laptop_small {
            font-size: 14px;
        }
        @include breakpoint-XXL {
            font-size: 24px;
        }
    }
    .btn {
        color: white;
        border: 1px solid $color-primary;
        border-radius: 50px;
        background-color: $color-primary;
        padding: 1% 4%;
        @include breakpoint-tablet {
            font-size: 3vw;
        }
        @include breakpoint-mobile {
            font-size: 3vw;
        }
    }
}

.homepage-content {
    background-color: $color_bg-main;
}

.section1 {
    height: 33%;
    border-radius: 50% 50% / 0px 0px 15% 15%;
    box-shadow: 0px 5px 2px white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: white;
    position: relative;
    @include breakpoint-tablet {
        border-radius: 50% 50% / 0px 0px 5% 5%;
        padding-bottom: 10%;
    }
}

.aspects {
    display: grid;
    justify-content: center;
    width: 100%;
    margin: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 2;
    gap: 27px;
    padding-bottom: 2%;
    @include breakpoint-laptop_small {
        grid-template-columns: 30% 30% 30%;
    }
    @include breakpoint-tablet {
        grid-template-columns: 50% 50%;
        grid-template-rows: 4;
        gap: 25px;
    }
    @include breakpoint-mobile_small {
        grid-template-columns: 100%;
    }
    .tab {
        margin: auto;
        justify-content: center;
        text-align: center;
        border: 1px solid white;
        background-color: $color_bg-blocs;
        border-radius: 25px;
        height: 259px;
        width: 259px;
        h3,
        span {
            color: $color-primary;
            margin: 0%;
            font-size: 20px;
            text-align: center;
        }
        img,
        svg {
            width: 50px;
            padding-top: 25%;
            padding-bottom: 10%;
        }
        &:hover {
            background-color: $color-primary;
            transition: 500ms;
            h3,
            span {
                color: white;
            }
            svg .b {
                fill: white;
            }
        }
        @include breakpoint-mobile {
            height: 200px;
            width: 200px;
            svg {
                padding-top: 15%;
            }
            h3 {
                font-size: 18px;
                padding: 0px 5px;
            }
            span {
                font-size: 14px;
            }
        }
    }
}

.fa-arrow-down {
    color: $color-primary;
    transform: translateX(-50%) scale(1.5);
    position: absolute;
    bottom: -3%;
    left: 50%;
    z-index: 2;
    border: 1px solid lighten($color-primary, 20%);
    border-radius: 50%;
    padding: 5px 7px;
    background-color: white;
    box-shadow: 0px 0px 0px 15px white;
    @include breakpoint-tablet {
        bottom: -1%;
    }
}

#pourquoi {
    background-color: $color_bg-main;
    padding: 10% 10%;
    position: relative;
    #reading_woman {
        position: absolute;
        width: 25%;
        top: -5%;
        right: 10%;
        @include breakpoint-XXL {
            top: -15%;
        }
        @include breakpoint-tablet {
            right: 5%;
            top: -10%;
            width: 35%;
        }
        @include breakpoint-mobile_small {
            width: 40%;
            top: -4%;
            z-index: 2;
        }
    }
    ul {
        padding-left: 0;
        .pourquoi_paragraphe {
            display: flex;
            width: 100%;
            text-align: justify;
            align-items: baseline;
            color: black;
            font-weight: 400;
            i {
                padding-right: 2%;
                color: $color-primary;
            }
            p {
                word-wrap: break-word;
            }
        }
    }
}
